/* 工具栏开始 */
.ng_toolbar{
	width: 100%;
	height: 35px;
	border-bottom: 1px solid #eee;
	background: #f5f5f5;
	color: #666;
}
.ng_toolbar_mean{
	width: 1190px;
	height: 100%;
	margin: 0 auto;
}
.ng_toolbar_left{
	height: 100%;
	float: left;
}
.ng_toolbar_left ul{
	width: 100%;
	height: 100%;
}
.ng_toolbar_left li{
	height: 100%;
	float: left;
	font-size: 12px;
	line-height: 35px;
	position: relative;
}
.ng_toolbar_left li>a{
	border:1px solid #F5F5F5;
	box-sizing: border-box;
	display: inline-block;
	height: 35px;
	padding:0 10px;
	position: relative;
	color: #666;
}
.ng_toolbar_detali{
	width: 990px;
	height:0;
	background: white;
	box-sizing: border-box;
	position: absolute;
	top: 34px;
	left:0;
	z-index: 6;
	transition: 0.1s;
	overflow: hidden;
}
.ng_toolbar_left li:hover a{
	border-top: 1px solid #D8D8D8;
	border-left: 1px solid #D8D8D8;
	border-right: 1px solid #D8D8D8;
	border-bottom: white;
	background: white;
	z-index: 7;
}
.ng_toolbar_left li:hover .ng_toolbar_detali{
	height: 124px;
	border: 1px solid #ddd;
}
.ng_toolbar_left li:nth-child(1):hover .ng_toolbar_detali{
	height: 240px;
}
.ng_toolbar_left li:nth-child(2)>a:hover{
	color: #FF6700;
	cursor: pointer;
}
.ng_toolbar_left li span{
	display: inline-block;
}
.ng_toolbar_left li i{
	font-size: 14px;
	display: inline-block;
	margin-left: 3px;
	vertical-align:middle;
	color: #bbb;
	transition: 0.3s;
}
.ng_toolbar_left li:hover i{
	transform: rotate(-180deg);
}
.ng_toolbar_right{
	height: 100%;
	float: right;
}
.ng_toolbar_right ul{
	width: 100%;
	height: 100%;
}
.ng_toolbar_right li{
	font-size: 12px;
	float: left;
	line-height: 35px;
	cursor: pointer;
	position: relative;
}
.ng_toolbar_right li>a{
	color: #666;
	padding: 0 10px;
	display:inline-block;
	height: 35px;
	border:1px solid #F5F5F5;
	box-sizing: border-box;
	position: relative;
}
.ng_toolbar_right .my_order:hover a{
	border:1px solid #D8D8D8;
	border-bottom-color: white;
	background: white;
	z-index: 7;
}
.ng_toolbar_right .my_shopping:hover a{
	border:1px solid #D8D8D8;
	border-bottom: white;
	background: white;
	z-index: 7;
}
.ng_toolbar_right .my_shopping_car:hover a{
	border:1px solid #D8D8D8;
	border-bottom: white;
	background: white;
	z-index: 7;
}
.ng_toolbar_right .phone_sn:hover a{
	border:1px solid #D8D8D8;
	border-bottom: white;
	background: white;
	z-index: 7;
}
.ng_toolbar_right li>a:hover{
	color: #FF6700;
}
.ng_toolbar_right li:hover .ng_toolbar_detali{
	height: 124px;
	border: 1px solid #ddd;
}
.ng_toolbar_right .my_shopping_car:hover .ng_toolbar_detali{
	height: 482px;
}
.ng_toolbar_right .phone_sn:hover .ng_toolbar_detali{
	height: 222px;
}
.ng_toolbar_right li span{
	display: inline-block;
}
.ng_toolbar_right li i{
	display: inline-block;
	font-size: 14px;
	color: #BBBBBB;
	margin-left: 3px;
	transition: 0.3s;
}
.ng_toolbar_right li em{
	font-size: 14px;
}
.ng_toolbar_right li:hover i{
	transform: rotate(-180deg);
}
.ng_toolbar_right li>.ng_toolbar_right_active{
	color: #ff6700;
}
#shopping_car{
	color: #FF6700;
}
/* 工具栏结束 */
/* 搜索开始 */
.index_header_big{
	width: 100%;
	height: 110px;
	background: white;
}
.index_header{
	width: 1190px;
	height: 110px;
	margin: 0 auto;
}
.index_header_left{
	width: 190px;
	height: 90px;
	float: left;
	cursor: pointer;
}
.index_header_left img{
	width: 100%;
	height: 100%;
}
.index_header_right{
	width: 600px;
	height: 100px;
	float: left;
	margin-left: 120px;
}
.search_box{
	width: 540px;
	height: 64px;
	background: white;
	margin: 37px 0 0 60px;
}
.search_box_top{
	width: 540px;
	height: 40px;
}
.search_text{
	width: 420px;
	height: 100%;
	float: left;
	box-sizing: border-box;
	border-bottom: 2px solid #FA0;
	border-top: 2px solid #FA0;
	border-left: 2px solid #FA0;
	color: #ccc;
	position: relative;
}
.search_text>i{
	display: block;
	font-size: 16px;
	background: white;
	float: left;
	width: 28px;
	height: 100%;
	text-align:center;
	line-height: 40px;
}
#search{
	width: 390px;
	height: 100%;
	border: none;
	outline: none;
	float: right;
	box-sizing: border-box;
	padding-left: 10px;
	color: #ccc;
}
.search_btn{
	width: 120px;
	height: 100%;
	float: left;
	background: #FA0;
	text-align: center;
	line-height: 40px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	border: none;
	font-size: 18px;
	outline: none;
}
.search_onclick{
	width: 540px;
	height: 271px;
	background:white;
	position: absolute;
	top: 39px;
	left: -2px;
	z-index: 6;
	border: 1px solid #e4e4e4;
	box-sizing: border-box;
	display: none;
}
.search_box_bottom{
	width:100%;
	height: 23px;
	margin-top: 5px;
}
.search_box_bottom>ul{
	height: 100%;
	cursor: pointer;
}
.search_box_bottom>ul>li{
	height: 100%;
	color: #999;
	font-size: 12px;
	float: left;
}
.search_box_bottom>ul>li:nth-child(2n-1):hover{
	color: #F60;
}
.search_box_bottom>ul>li:nth-child(2n){
	margin: 0 8px;
	color: #ddd;
}
/* 搜索结束 */
/* 导航开始 */
.ng_nav_bar_big{
	width: 100%;
	height: 38px;
	background: white;

}
.ng_nav_bar{
	width: 1190px;
	height: 38px;
	margin: 0 auto;
}
.ng_nav_bar>ul{
	width: 100%;
	height: 100%;
}
.ng_nav_bar>ul li{
	height: 100%;
	float: left;
	margin-left: 25px;
	font-weight: bold;
	text-align: center;
	line-height: 38px;
	font-size: 15px;
	color: #333;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.ng_nav_bar>ul li:hover{
	color: #ff6700;
}
.ng_nav_bar>ul li:hover .ng_nav_bar_picture{
	top: 30px;
}
.ng_nav_bar>ul li:nth-child(1){
	width: 190px;
	background: #F90;
	margin-left: 0;
	text-align: start;
	box-sizing: border-box;
	padding: 0 10px;
	color: white;
	font-size: 14px;
}
.ng_nav_bar>ul li:nth-child(1)>i{
	font-size: 12px;
	margin-right: 5px;
}
.ng_nav_bar>ul li:nth-child(12) img{
	margin-left: 30px;
}
.ng_nav_bar_picture{
	width: 25px;
	height: 8px;
	background: url(../img/index.png);
	background-position: -37px 0;
	position: absolute;
	top: 38px;
	left: 50%;
	transition: 0.3s;
	transform: translateX(-50%);
}
.ng_nav_box{
	width: 1190px;
	height: 482px;
	margin: 0 auto;
}
.ng_nav_left{
	width: 190px;
	height: 482px;
	background: #333;
	float: left;
	box-sizing: border-box;
	color: white;
	font-size: 13px;
	padding: 1px 0;
}
.ng_nav_left ul{
	width: 100%;
	height: 100%;
	position: relative;
}

.ng_nav_left>ul li{
	width: 100%;
	height: 30px;
	line-height: 30px;
	box-sizing: border-box;
	padding: 0 10px;
}
.ng_nav_left>ul li:hover{
	background: white;
	color: black;
}
.ng_nav_left>ul li>span:nth-child(2n){
	margin: 0 2px;
	color: #d8d8d8;
	font-weight: 100;
}
.ng_nav_left_detal{
	width:0px;
	height: 500px;
	position: absolute;
	top: 0px;
	left: 190px;
	background: red;
	z-index: 7;
	transition: 0.5s;
	font-size: 200px;
	overflow: hidden;
	color: white;
	line-height: 500px;
}
.ng_nav_left>ul li>span:nth-child(2n-1):hover{
	color: #FF6700;
	cursor: pointer;
}
.ng_nav_banner{
	width: 830px;
	height: 482px;
	background: black;
	float: left;
	position: relative;
}
.ng_nav_banner:hover .ng_nav_banner_left_btn{
	display: block;
}
.ng_nav_banner:hover .ng_nav_banner_right_btn{
	display: block;
}
.ng_nav_banner_left_btn{
	width: 30px;
	height: 64px;
	position: absolute;
	top: 180px;
	left: 0;
	background: url(../img/index.png);
	background-position: -82px -145px;
	z-index: 6;
	display: none;
	cursor: pointer;
}
.ng_nav_banner_right_btn{
	width: 30px;
	height: 64px;
	position: absolute;
	top: 180px;
	right: 0;
	background: url(../img/index.png);
	background-position: -120px -145px;
	display: none;
	z-index: 6;
	cursor: pointer;
}
.ng_nav_banner_yuan{
	width: 232px;
	height: 20px;
	position: absolute;
	top: 323px;
	margin: 0 auto;
	left: 0;
	right: 0;
	z-index: 6;
}
.ng_nav_banner_yuan>.yuan{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: url(../img/index.png) -26px -100px;
	float: left;
	margin-left: 8px;
	cursor: pointer;
}
.ng_nav_banner_yuan>.ng_nav_banner_yuan_active{
	background-position: 0px -100px ;
}
.ng_nav_banner ul{
	width: 100%;
	height: 100%;
	position: relative;
	background: white;
}
.ng_nav_banner>ul li{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #CCCCCC;
	transition: 0.5s;
	font-size: 50px;
	opacity: 0;
}
.ng_nav_banner>ul li:nth-child(2){
	z-index: 5;
	opacity: 1;
}
.ng_nav_left_img{
	position: absolute;
	top:0;
	left: -545px;
	z-index: -1;
}
.ng_nav_right_img{
	position: absolute;
	top:0;
	right: -545px;
	z-index:-1;
}
.ng_nav_right{
	width: 170px;
	height: 482px;
	float: left;
	border-bottom-right-radius: 8px;
	background: white;
	overflow: hidden;
}
.ng_nav_right .uesr{
	width: 170px;
	height: 170px;
	box-sizing: border-box;
	border-bottom: 1px solid #333;
	padding: 10px 10px 0;
}
#user_head{
	width: 52px;
	height: 52px;
	margin: 0 auto;
	background: url(../img/index.png);
	background-position: -93px -24px;
	cursor: pointer;
}
.ng_nav_right .uesr li:nth-child(2){
	font-size: 12px;
	text-align: center;
	line-height: 24px;
	width: 100%;
	height: 24px;
}
.ng_nav_right .uesr li:nth-child(3){
	width: 100%;
	height: 22px;
	margin-top: 10px;
}
.ng_nav_right .uesr li:nth-child(3) .new{
	width: 70px;
	height: 22px;
	font-size: 12px;
	color: #ffa114;
	box-sizing: border-box;
	border: 1px solid #FF9900;
	text-align: center;
	float: left;
	cursor: pointer;

}
.ng_nav_right .uesr li:nth-child(3) .huiyuan{
	width: 70px;
	height: 22px;
	background:url(../img/index.png);
	background-position: -295px -251px;
	margin-left: 10px;
	float: left;
	cursor: pointer;

}
.ng_nav_right .uesr li:nth-child(4){
	margin-top: 15px;
}
.ng_nav_right .uesr li:nth-child(4) .yunzhan{
	width: 70px;
	height: 22px;
	float: left;
	background: url(../img/index.png);
	background-position: -670px -255px;
	cursor: pointer;

}
.ng_nav_right .uesr li:nth-child(4) .youhuijuan{
	width: 70px;
	height: 22px;
	float: left;
	margin-left: 10px;
	background: url(../img/index.png);
	background-position: -670px -287px;
	cursor: pointer;

}
.ng_nav_right .message{
	width: 170px;
	height: 167px;
	background: white;
	box-sizing: border-box;
	border-bottom: 1px solid #333;
	padding:10px;
	font-size: 12px;
}
.ng_nav_right .message li{
	margin-bottom: 10px;
	line-height: 20px;
	cursor: pointer;
}
.ng_nav_right .message li:hover{
	color: #ff6700;
}
.ng_nav_right .message span{
	color: #F60;
}
.ng_nav_right .item{
	width: 170px;
	height: 146px;
}
.ng_nav_right .item li{
	width: 33.33%;
	height: 72px;
	float: left;
	border-right: 1px solid black;
	box-sizing: border-box;
	cursor: pointer;
}
.ng_nav_right .item li:nth-child(1){
	border-bottom: 1px solid black;
}
.ng_nav_right .item li:nth-child(2){
	border-bottom: 1px solid black;
}
.ng_nav_right .item li:nth-child(3){
	border-bottom: 1px solid black;
	border-right: none;
}
.ng_nav_right .item li:nth-child(6){
	border-right: none;
}
.ng_nav_right .item li p{
	font-size: 12px;
	text-align: center;
}
.ng_nav_right .item li p:hover{
	color: #ff6700;
}
.ng_nav_right .item li i{
	width: 24px;
	height: 36px;
	display: block;
	margin: 10px auto 0;
	text-align: center;
	line-height: 36px;
	font-size: 20px;
	color: #FF6600;
	font-weight: bold;
}
/* 导航结束 */
/* 广告开始 */
.cd_one{
	width: 1190px;
	height: 373px;
	margin: 0 auto 20px;
	overflow: hidden;
	position: relative;
}
.cd_one>img{
	transform: translateX(-365px);
}
.cd_one .column{
	width: 1190px;
	height: 213px;
	position: absolute;
	top: 152px;
	left: 0;
}
.cd_one .column>ul{
	width: 100%;
	height: 100%;
}
.cd_one .column>ul li{
	width: 230px;
	height: 213px;
	margin-left: 10px;
	float: left;
}
.cd_one .column>ul li img{
	display: block;
	width: 120px;
	height: 120px;
	margin: 10px auto;
}
.cd_one .column>ul li h5{
	height: 34px;
	line-height: 34px;
	color: white;
	text-align: center;
	font-size: 22px;

}
.cd_one .column>ul li p{
	height: 27px;
	line-height: 27px;
	text-align: center;
	color: red;
	font-size: 20px;

}
.cd_one .column>ul li:nth-child(1){
	margin-left: 0;
}
/* 广告结束 */
/* 抢购开始 */
.rush_to_buy{
	width: 1190px;
	height: 307px;
	margin: 0 auto;
	background: white;
	border-radius: 5px;
	margin-bottom: 20px;

}
.rush_to_buy_top{
	width: 100%;
	height: 47px;
	box-sizing: border-box;
	border-bottom: 1px solid #D8D8D8;
}
.rush_to_buy_name{
	width: 85px;
	margin-left: 20px;
	padding-top: 14px;
	float: left;
}
.rush_to_buy_time{
	width: 220px;
	height: 100%;
	float: left;
	box-sizing: border-box;
	padding-left: 20px;
	margin-right: 20px;
}
.rush_to_buy_time p{
	width: 60px;
	height: 100%;
	float: left;
	line-height: 47px;
	font-size: 12px;
}
.rush_to_buy_time .times{
	width: 120px;
	height: 100%;
	float: left;
	margin-top: 12px;
}
.rush_to_buy_time .times span{
	background: black;
	color: white;
	display: inline-block;
	padding: 2px;
	border-radius: 5px;
	margin-right: 5px;
}
.rush_to_buy_time_point{
	width: 133px;
	height: 24px;
	margin-right: 60px;
	float: left;
	margin-top: 12px;
	line-height: 24px;
	text-align: center;
	font-size: 14px;
}
.active2{
	background: url(../img/index.png);
	background-position: -561px 0;
	color: white;
}
.rush_to_buy_time_more{
	float: right;
	margin-right: 20px;
	font-size: 14px;
	line-height: 47px;
	height: 47px;
	color: #999999;
}
.rush_to_buy_bottom{
	width: 100%;
	height: calc(100% - 47px);
}
.rush_to_buy_bottom_big_box{
	width: 1000px;
	height: 240px;
	float: left;
	overflow: hidden;
	margin:10px 0;
	position: relative;
}
.rush_to_buy_bottom_big{
	width: 1000px;
	height: 100%;
	float: left;
	overflow: hidden;
	position: absolute;
	display: none;
}
.rush_to_buy_bottom_big:first-child{
	display: block;
}
.rush_to_buy_bottom_box{
	width: 5000px;
	height: 100%;
	position: relative;
	left: -100%;
	transition: 0.5s;
}
.rush_to_buy_bottom ul{
	float: left;
}
.rush_to_buy_bottom ul li{
	width: 200px;
	height: 240px;
	float: left;
	padding: 10px 20px;
	box-sizing: border-box;
	border-right: 1px solid #D8D8D8;
}
.rush_to_buy_left_btn{
	width: 24px;
	height: 60px; 
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto 0;
	background: url(../img/index.png);
	background-position: -561px -117px;
}
.rush_to_buy_right_btn{
	width: 24px;
	height: 60px; 
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto 0;
	background: url(../img/index.png);
	background-position: -599px -117px;
}
.rush_to_buy_bottom .right{
	width: 170px;
	height: 240px;
	float: left;
	margin: 10px;
}
.rush_to_buy_bottom ul li img{
	width: 159px;
	height: 159px;
	display: block;
	margin: 0 auto;
}
.rush_to_buy_bottom ul li p{
	width: 100%;
	height: 14px;
	font-size: 12px;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 5px;
}
.rush_to_buy_bottom ul>li>.price span{
	font-size: 16px;
	color: #ff6700;
	font-weight: bold;
	
}
.rush_to_buy_bottom ul>li .price del{
	font-size: 12px;
	color: #999;
}
.rush_to_buy_bottom ul>li .speed{
	
}
.rush_to_buy_bottom ul>li .speed .line{
	height: 6px;
	width: 105px;
	border-radius: 8px;
	background: #FFAA00;
	float: left;
	margin-top: 6px;
}
.rush_to_buy_bottom ul>li .speed .line_text{
	font-size: 12px;
	color: #999;
	float: right;
}

/* 抢购结束 */
/* column开始 */
.sn_column{
	width: 1190px;
	margin: 0 auto;
}

.sn_column::after{
	content:"";
	width:0px;
	height:0px;
	display:block;
	clear: both;
}
.sn_column>ul{
	width: 100%;
	height: 100%;
}
.sn_column>ul>li{
	width: 390px;
	height: 427px;
	margin-left: 10px;
	float: left;
	background: white;
	border-radius: 5px;
	overflow: hidden;
}
.sn_column>ul>li:nth-child(4),.sn_column>ul>li:nth-child(5),.sn_column>ul>li:nth-child(6){
	margin-bottom: 20px;
	margin-top: 20px;
}
.sn_column>ul>li:nth-child(1),.sn_column>ul>li:nth-child(4){
	margin-left: 0;
}
.sn_column_ml_top{
	width: 100%;
	height: 45px;
	background: #f7faf9;
}
.sn_column_ml_left{
	width: 4px;
	height: 18px;
	background:#69a88f;
	float: left;
	margin: 13.5px 0;
}
.sn_column_ml_title{
	width: 100px;
	height: 100%;
	font-size: 18px;
	text-align: center;
	line-height: 45px;
	color: #69a88f;
	font-weight: bold;
	float: left;
}
	
.sn_column_ml_right{
	float: right;
	line-height: 45px;
	color: #999999;
	font-size: 12px;
	padding-right: 15px;
}
.sn_column_ml_bottom{
	width: 100%;
	height: 382px;
	position: relative;
}
.sn_column_ml_bottom>ul{
	width: 500%;
	height: 100%;
	position: relative;
	left: -390px;
	transition: 0.5s;
}
.sn_column_ml_bottom>ul li{
	width: 20%;
	height: 100%;
	float: left;
	margin: 0;
	border-radius: 0;
	box-sizing: border-box;
	padding: 10px 15px;
}
.sn_column_ml_bottom>ul li>img{
	width: 100%;
	height: 150px;
}
.sn_column_ml_bottom>ul li>h6{
	font-size: 18px;
	height: 21px;
	overflow: hidden;
	text-align: center;
	line-height: 21px;
	margin-top: 10px;
}
.sn_column_ml_bottom>ul li>p{
	height: 40px;
	line-height: 20px;
	overflow: hidden;
	font-size: 14px;
	color: #999999;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	margin-top: 10px;
}
.sn_column_img{
	width: 100%;
	height: 100px;
	margin-top: 10px;
	box-sizing: border-box;
	padding: 0 26px;
}
.sn_column_img img{
	width: 100px;
	height: 100px;
	float: left;
}
.sn_column_ml_left_btn{
	width: 24px;
	height: 60px;
	position: absolute;
	margin: auto 0 ;
	top: 0;
	bottom: 0;
	left: 0;
	background: url(../img/index.png);
	background-position: -561px -117px;
}
.sn_column_ml_right_btn{
	width: 24px;
	height: 60px;
	position: absolute;
	margin: auto 0 ;
	top: 0;
	bottom: 0;
	right: 0;
	background: url(../img/index.png);
	background-position: -599px -117px;
}
.sn_column_ml_yuans{
	width: 66px;
	height: 6px;
	position: absolute; 
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 7px;
}
.sn_column_ml_yuans>.yuan{
	width: 12px;
	height: 6px;
	margin-left: 10px;
	background: #D8D8D8;
	border-radius: 6px;
	float: left;
}
.sn_column_ml_yuans>.active3{
	background: green;
}
.sn_column_life_top{
	width: 100%;
	height: 45px;
	background: #fffaf2;
}
.sn_column_life_left{
	width: 4px;
	height: 18px;
	background:#ff9902;
	float: left;
	margin: 13.5px 0;
}
.sn_column_life_title{
	width: 100px;
	height: 100%;
	font-size: 18px;
	text-align: center;
	line-height: 45px;
	color: #ff9902;
	font-weight: bold;
	float: left;
}
.sn_column_life_right{
	float: right;
	line-height: 45px;
	color: #999999;
	font-size: 12px;
	padding-right: 15px;
}
.sn_column_life_bottom{
	width: 100%;
	height: 382px;
	padding: 10px 15px;
	box-sizing: border-box;
}
.sn_column_life_bottom>ul{
	width: 100%;
	height: 100%;
}
.sn_column_life_bottom>ul>li{
	width: 180px;
	height: 181px;
	float: left;
	margin:0;
	border-radius:0;
	box-sizing: border-box;
}
.sn_column_life_bottom>ul>li:nth-child(1){
	border-bottom: 1px solid #D8D8D8;
	border-right: 1px solid #D8D8D8;
}
.sn_column_life_bottom>ul>li:nth-child(3){
	border-right: 1px solid #D8D8D8;
}
.sn_column_life_bottom>ul>li:nth-child(2){
	border-bottom: 1px solid #D8D8D8;
}
.sn_column_life_bottom>ul>li .sn_column_life_top{
	width: 78px;
	height: 22px;
	background-image:linear-gradient(-90deg,#ffc36c 0,#ff9902 100%);
	border-radius: 50px;
	color: white;
	text-align: center;
	line-height: 22px;
	font-size: 14px;
	margin-top: 15px;
	margin-left: 10px;
}
.sn_column_life_bottom>ul>li .sn_column_life_p{
	font-size: 12px;
	color: #999;
	margin:5px 0;
	margin-left: 15px;

}
.sn_column_life_bottom>ul>li .sn_column_life_img img{
	width: 88px;
	height: 88px;
	float: left;
}
.sn_column_ranking_l_top{
	width: 100%;
	height: 45px;
	background: #fdf6f6;
}
.sn_column_ranking_l_left{
	width: 4px;
	height: 18px;
	background:#db5757;
	float: left;
	margin: 13.5px 0;
}
.sn_column_ranking_l_title{
	width: 100px;
	height: 100%;
	font-size: 18px;
	text-align: center;
	line-height: 45px;
	color: #db5757;
	font-weight: bold;
	float: left;
}
.sn_column_ranking_l_right{
	float: right;
	line-height: 45px;
	color: #999999;
	font-size: 12px;
	padding-right: 15px;
}
.sn_column_ranking_l_bottom{
	width: 100%;
	height: 382px;
	box-sizing: border-box;
	padding: 0 15px;
}
.tab_list{
	height: 40px;
	border-bottom: 1px solid #D8D8D8;
	overflow: hidden;
}
.tab_list>ul{
	width: 800px;
	height: 100%;
}
.tab_list>ul>li{
	float: left;
	padding: 2px 10px;
	font-size: 14px;
	margin: 8px 12px;
	border-radius: 15px;
}
.active1{
	background: #f86e6e;
	color: white;
}
.tab_list_goods{
	width: 100%;
	height: 339px;
	overflow:hidden;
}
.tab_list_goods>ul{
	width: 900%;
	height: 100%;
}
.tab_list_goods>ul>li{
	width: calc(100% / 9);
	height: 100%;
	float: left;
}
.tab_list_goods>ul>li:nth-child(1){
	overflow:auto;
}
.tab_list_small_box{
	width: 300%;
	height: 100%;
}
.tab_list_small_box>ul{
	width: 100%;
	height: 100%;
}
.tab_list_small_box>ul>li{
	width: 33.33333%;
	height: 100%;
	float: left;
	padding: 10px 15px;
	box-sizing: border-box;
}
.goods_list{
	width: 100%;
	height: 90px;
	margin-bottom: 10px;
}
.goods_list_left{
	width: 90px;
	height: 90px;
	float: left;
}
.goods_list_left img{
	width: 100%;
	height: 100%;
}
.goods_list_right{
	width: calc(100% - 90px);
	height: 100%;
	float: left;
	box-sizing: border-box;
	padding: 5px 10px;
}
.goods_list_right>p{
	font-size: 12px;
	height: 36px;
	line-height: 36px;
}
.goods_list_right .message{
	height: calc(100% - 36px);
	margin-top: 20px;
	color: #db5757;
}
.goods_list_right .message .message_left{
	float: left;
}
.goods_list_right .message .message_right{
	float: right;
	border-radius: 15px;
	background: #ffdfdf;
	font-size: 12px;
	padding: 2px 6px;
}
/* 前三个结束 */
.sn_column_volume_top{
	width: 100%;
	height: 45px;
	background: #fef8f4;
}
.sn_column_volume_left{
	width: 4px;
	height: 18px;
	background:#ef711e;
	float: left;
	margin: 13.5px 0;
}
.sn_column_volume_title{
	height: 100%;
	font-size: 18px;
	text-align: center;
	line-height: 45px;
	color: #ef711e;
	font-weight: bold;
	float: left;
	margin-left: 20px;

}
	
.sn_column_volume_right{
	float: right;
	line-height: 45px;
	color: #999999;
	font-size: 12px;
	padding-right: 15px;
}
.sn_column_volume_bottom{
	padding: 10px 15px;
	box-sizing: border-box;
	width: 100%;
	height: calc(100% - 45px);
}

.sn_column_volume_bottom>ul{
	width: 100%;
	height: 100%;
	overflow:hidden;
}
.sn_column_volume_bottom>ul>li{
	width: 100%;
	height: 109px;
	margin-top: 10px;
	background: url(../img/quan-bg.png) no-repeat;
	background-position: 5px 0;
	padding: 10px ;
	box-sizing: border-box;
}
.sn_column_volume_li_left{
	width: 90px;
	height: 90px;
	float: left;
}
.sn_column_volume_li_left>img{
	width: 100%;
	height: 100%;
}
.sn_column_volume_li_middle{
	width: 210px;
	height: 100%;
	float: left;
}
.sn_column_volume_li_middle>p{
	font-size: 12px;
	color: #FF6700;
	margin: 10px 0 10px 10px;
}
.sn_column_volume_li_middle>p>span{
	font-size: 8px;
}
.sn_column_volume_li_middle>p .volume_price{
	font-size: 26px;
	font-weight: bold;
	margin-right: 20px;
}
.sn_column_volume_li_right{
	width: 14px;
	height: 76px;
	float: left;
	font-size: 14px;
	color: white;
	margin: 7px 12px
}
.sn_column_outlets_top{
	width: 100%;
	height: 45px;
	background: #fdf6f6;
}
.sn_column_outlets_left{
	width: 4px;
	height: 18px;
	background:#dd5352;
	float: left;
	margin: 13.5px 0;
}
.sn_column_outlets_title{
	height: 100%;
	font-size: 18px;
	text-align: center;
	line-height: 45px;
	color: #dd5352;
	font-weight: bold;
	float: left;
	margin-left: 20px;
}
	
.sn_column_outlets_right{
	float: right;
	line-height: 45px;
	color: #999999;
	font-size: 12px;
	padding-right: 15px;
}
.sn_column_outlets_bottom{
	padding: 10px 15px;
	box-sizing: border-box;
	width: 100%;
	height: calc(100% - 45px);
}
.sn_column_outlets_bottom>ul{
	width: 100%;
	height: 100%;
}
.sn_column_outlets_bottom>ul>li{
	width: 50%;
	height: 50%;
	box-sizing: border-box;
	float: left;
}
.sn_column_outlets_bottom>ul>li:nth-child(1),.sn_column_outlets_bottom>ul>li:nth-child(2){
	border-bottom: 1px solid #D8D8D8;
}
.sn_column_outlets_bottom>ul>li:nth-child(1),.sn_column_outlets_bottom>ul>li:nth-child(3){
	border-right: 1px solid #D8D8D8;
}
.sn_column_outlets_goods{
	width: 118px;
	height: 118px;
	margin: 0 auto;
	overflow: hidden;
}  
.sn_column_outlets_bottom>ul>li:nth-child(1):hover .sn_column_outlets_goods_box{
	top: -100%;
	cursor: pointer;
}
.sn_column_outlets_bottom>ul>li:nth-child(2):hover .sn_column_outlets_goods_box{
	top: -100%;
	cursor: pointer;

}
.sn_column_outlets_bottom>ul>li:nth-child(3):hover .sn_column_outlets_goods_box{
	top: -100%;
	cursor: pointer;

}
.sn_column_outlets_bottom>ul>li:nth-child(4):hover .sn_column_outlets_goods_box{
	top: -100%;
	cursor: pointer;

}
.sn_column_outlets_goods_box{
	width: 100%;
	height: 200%;
	position: relative;
	top: 0;
	transition: 0.5s;
}
.sn_column_outlets_goods_img{
	width: 100%;
	height: 118px;
}
.sn_column_outlets_goods_img>img{
	width: 100%;
	height: 100%;
}
.sn_column_outlets_goods_name{
	width: 100%;
	height: 118px;
}
.sn_column_outlets_goods_name>img{
	width: 72px;
	height: 35px;
	display: block;
	margin: 20px auto;
}
.sn_column_outlets_goods_name .friendlink{
	font-size: 14px;
	margin: 0 auto;
	width: 80px;
	text-align: center;
	border-radius: 9px;
	color: white;
	background: #f67f7e;
	background-image: linear-gradient(90deg,#f67f7e 0,#dd5352 100%);
}
.sn_column_outlets_bottom>ul>li>h6{
	font-size: 14px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	margin: 8px 0;
}
.sn_column_outlets_bottom>ul>li>p{
	text-align: center;
	font-size: 12px;
	color:#dd5352;
}
.sn_column_goods_top{
	width: 100%;
	height: 45px;
	background: #f7faf9;
}
.sn_column_goods_left{
	width: 4px;
	height: 18px;
	background:#4da5d1;
	float: left;
	margin: 13.5px 0;
}
.sn_column_goods_title{
	height: 100%;
	font-size: 18px;
	text-align: center;
	line-height: 45px;
	color: #4da5d1;
	font-weight: bold;
	float: left;
	margin-left: 20px;

}
	
.sn_column_goods_right{
	float: right;
	line-height: 45px;
	color: #999999;
	font-size: 12px;
	padding-right: 15px;
}
.sn_column_goods_bottom{
	padding: 10px 15px;
	box-sizing: border-box;
	width: 100%;
	height: calc(100% - 45px);
}
.sn_column_goods_bottom>ul{
	width: 100%;
	height: 100%;
}
.sn_column_goods_bottom>ul>li{
	width: 50%;
	height: 50%;
	box-sizing: border-box;
	float: left;
}
.sn_column_goods_bottom>ul>li:nth-child(1),.sn_column_goods_bottom>ul>li:nth-child(2){
	border-bottom: 1px solid #D8D8D8;
}
.sn_column_goods_bottom>ul>li:nth-child(1),.sn_column_goods_bottom>ul>li:nth-child(3){
	border-right: 1px solid #D8D8D8;
}
.sn_column_goods_bottom>ul>li>img{
	width: 110px;
	height: 110px;
	display: block;
	margin: 0 auto;
	margin: 5px auto;
}
.sn_column_goods_bottom>ul>li>p{
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	margin-bottom: 5px;
}
.sn_column_goods_bottom>ul>li .comment{
	font-size: 14px;
	color: #1498e3;
	text-align: center;
}
.sn_column_goods_bottom>ul>li .comment i{
	font-size: 18px;
		
	}
/* column结束 */
/* 子菜单开始 */
.submean{
	width: 1190px;
	height: 530px;
	margin: 0 auto;
}
.submean_left{
	width: 590px;
	height: 530px;
	float: left;
	margin-right: 10px;
}
.submean_small_box{
	width: 290px;
	height: 260px;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	background: white;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 10px;
	position: relative;
}
.submean_small_box>img{
	width: 100%;
	height: 100%;
}
.submean_left>ul>li:nth-child(2),.submean_left>ul>li:nth-child(4){
	margin-right: 0;
}
.submean_left>ul>li:nth-child(1),.submean_left>ul>li:nth-child(2){
	margin-top: 0;
}
.submean_small_content{
	width: 100%;
	height: 100%;
	color: white;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.submean_small_content>img{
	width: 150px;
	height: 150px;
	display: block;
	margin: 25px auto 10px;
}
.submean_small_content>h6{
	height: 26px;
	text-align: center;
	line-height: 26px;
	font-size: 20px;
	font-weight: bold;
}
.submean_small_content .line{
	width: 40px;
	height: 2px;
	margin: 5px auto;
	background: white;
}
.submean_small_content .explain{
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
}
.submean_right{
	width: 590px;
	height: 530px;
	float: left;
}
.submean_right_video{
	width:100%;
	height: 260px;
	border-radius: 8px;
	background: white;
}
.submean_right_video .left_box{
	width: 424px;
	height: 240px;
	margin: 10px;
	border-radius: 4px;
	float: left;
	position: relative;
	overflow: hidden;
}
.submean_right_video .left{
	width: 424px;
	height: 240px;
	position:absolute;
	top: 0;
	left: 0;
}
.submean_right_video .left .left_btn{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.submean_right_video .left .left_btn:hover{
	cursor: pointer;
}
.submean_right_video .left .left_btn .state{
	width: 80px;
	height: 24px;
	background:url(../img/index.png);
	background-position: -670px -193px;
	margin-top: 20px;
	margin-left: 20px;
}
.submean_right_video .left .left_btn .btn{
	width: 50px;
	height: 50px;
	background: url(../img/index.png);
	background-position: -700px 0px;
	position: absolute;
	margin: auto auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.submean_right_video .left .left_btn .btn:hover{
	background: url(../img/index.png);
	background-position: -700px -56px;
}
.submean_right_video .left .left_btn>p{
	height: 24px;
	text-align: center;
	line-height: 24px;
	color: white;
	font-size: 18px;
	margin-top: 140px;
}
.submean_right_video .left:nth-child(1){
	z-index: 3;
}
.submean_right_video .left>img{
	width: 100%;
	height: 100%;
}
.submean_right_video .right_box{
	width: 136px;
	height: 240px;
	float: left;
	margin-top: 10px;
}
.submean_right_video .right_box .right_box_small{
	width: 100%;
	height: 76px;
	background: red;
	border-radius: 4px;
	margin-bottom: 5px;
	overflow: hidden;
	position: relative;
}
.submean_right_video .right_box .right_box_small>img{
	width: 100%;
	height: 100%;
}
.submean_right_video .right_box .right_box_small .right_btn{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	background: rgba(0,0,0,0.2);
}
.submean_right_video .right_box .right_box_small .right_btn .btn{
	width: 25px;
	height: 25px;
	margin: 20px auto 10px;
	background: url(../img/index.png);
	background-position: -700px -110px;
}
.submean_right_video .right_box .right_box_small .right_btn .btn:hover{
	background-position: -700px -135px;
}
.submean_right_video .right_box .right_box_small .right_btn>p{
	height: 16px;
	width: 95%;
	margin: 0 auto;
	line-height: 16px;
	font-size: 12px;
	color: white;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}



.submean_right_small{
	width: 100%;
	height: 270px;
}
.submean_right_small>ul>li:nth-child(2){
	margin-right: 0;
}
/* 子菜单结束 */
.fridend_link{
	width: 1190px;
	height: 100px;
	margin: 20px auto;
}
.fridend_link>ul{
	width: 100%;
	height: 100%;
}
.fridend_link>ul>li{
	width: 33.33%;
	height: 100%;
	float: left;
}
.fridend_link>ul>li>img{
	width: 100%;
	height: 100%;
}
/* 主体开始 */
main{
	width: 1190px;
	margin: 0 auto;
}
.phone_computer{
	width: 100%;
	height: 567px;
}
.content_left{
	width: 590px;
	height: 100%;
	float: left;
	margin-right: 10px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 4px;
	overflow: hidden;
	background: white;
}
.content_right{
	width: 590px;
	height: 100%;
	float: left;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	overflow: hidden;
	background: white;
}
.content_top{
	width: 100%;
	height: 47px;
	background: #f9f9f9;
	color: #33AE75;

}
.content_top .content_top_title{
	width: 190px;
	height: 47px;
	float: left;
}
.content_top .content_top_title>.long{
	width: 4px;
	height: 20px;
	margin: 13.5px 0;
	background: #33AE75;
	float: left;
}
.content_top .content_top_title>h5{
	margin: 0 10px;
	height: 47px;
	float: left;
	line-height: 47px;
	font-weight: bold;
	font-size: 18px;
}
.content_top .content_top_title>i{
	height: 18px;
	width: 18px;
	display: block;
	float: left;
	margin: 14.5px 0;
}
.content_top .content_top_title>i>img{
	width: 100%;
	height: 100%;
}
.content_top .content_top_list{
	height: 47px;
	float: right;
	color: #666;
	font-size: 14px;
}
.content_top .content_top_list>ul{
	width: 100%;
	height: 100%;
}
.content_top .content_top_list>ul>li{
	float: left;
	height: 47px;
	line-height: 47px;
	margin-right: 20px;
}
.content_goods{
	width: 100%;
	height: 360px;
}
.content_goods_left{
	width: 190px;
	height: 100%;
	float: left;
	position: relative;
}
.cover{
	width: 160px;
	height: 60px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 250px;
	left: 0;
	color: white;
}
.cover_text{
	width: 100%;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	height: 40px;
	line-height: 40px;
}
.cover>p{
	text-align: center;
	font-size: 12px;
	overflow: hidden;
}
.content_goods_left>img{
	width: 100%;
	height: 100%;
}
.content_goods_right{
	width: 400px;
	height: 100%;
	float: left;
	background: white;
}
.content_goods_right>ul{
	width: 100%;
	height: 100%;
}
.content_goods_right>ul>li{
	width: 200px;
	height: 180px;
	float: left;
	box-sizing: border-box;
	border-bottom: 1px solid #F9F9F9;
}
.content_goods_right>ul>li:nth-child(1),.content_goods_right>ul>li:nth-child(3){
	border-right: 1px solid #F9F9F9;
}
.content_goods_right>ul>li>h6{
	height: 24px;
	text-align: center;
	line-height: 24px;
	font-size: 16px;
	margin-top: 10px;
	}
.content_goods_right>ul>li>p{
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #33AE75;
	margin-bottom: 5px;
	font-size: 12px;

}
.content_goods_right>ul>li>img{
	width: 120px;
	height: 120px;
	margin: 0 auto;
	display: block;
	transition: 0.3s;
}
.content_goods_right>ul>li:hover img{
	width: 124px;
	height: 124px;
}
.content_cd{
	width: 100%;
	height: 109px;
	background: white;
}
.content_cd>ul{
	width: 100%;
	height:100%;
}
.content_cd>ul>li{
	float: left;
	width: 200px;
	height: 109px;
	box-sizing: border-box;
	border-bottom: 1px solid #F9F9F9;
	border-right: 1px solid #F9F9F9;
}
.content_cd>ul>li:nth-child(1){
	width: 190px;
}
.content_cd>ul>li:nth-child(3){
	border-right: none;
}
.content_cd_left{
	width: 90px;
	height: 100%;
	float: left;
}

.content_cd>ul>li>.content_cd_left>h6{
	font-size: 14px;
	line-height: 24px;
	height: 20px;
	text-align: center;
	margin: 20px auto 10px;
}
.content_cd>ul>li>.content_cd_left>p{
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	color: #33AE75;
	text-align: center;
}
.content_cd>ul>li>img{
	width: 80px;
	height: 80px;
	display: block;
	float: left;
}
.content_logo{
	width: 590px;
	height: 40px;
	background: white;
}
.content_logo>ul{
	width: 100%;
	height: 100%;
}
.content_logo>ul>li{
	height: 30px;
	width: 80px;
	float: left;
	margin: 9px 9px 0 9px;
}
.content_logo>ul>li>img{
	width:100;
	height: 100%;
}
/* 手机电脑结束 */
/* 家电开始 */
.Household_E_A{
	width: 1190px;
	height: 455px;
	margin: 20px auto;
	border-radius: 4px;
	overflow: hidden;
	background: white;
}
.Household_E_A_left{
	width: 595px;
	height: 360px;
	float: left;
	overflow: hidden;
	background: white;
}
.Household_E_A_right{
	width: 595px;
	height:360px;
	float: left;
	overflow: hidden;
	background: white;
}
.Household_E_A_bottom{
	width: 100%;
	height: 40px;
	float: left;
}
/* 家电结束 */
/* 智能数码开始 */
.Intelligent_digital{
	width: 100%;
	height: 567px;
	}
/* 智能数码结束 */
/* 美好生活开始 */
.good_life{
	width: 1190px;
	height: 455px;
	margin: 20px auto;
	border-radius: 4px;
	overflow: hidden;
	background: white;
}
/* 美好生活结束*/
/* 猜你喜欢开始 */
.guess{
	width: 1190px;
}
.guess_top{
	width: 100%;
	height: 22px;
	margin-bottom: 15px;
	
}
.guess_top>.line{
	width: 4px;
	height: 100%;
	background: #fe9901;
	float: left;
	margin-right: 15px;
}
.guess_top>h5{
	height: 22px;
	float: left;
	font-size: 18px;
	font-weight: bold;
	line-height:22px ;
}
.guess_bottom{
	width: 100%;
}
.guess_bottom>ul{
	width: 100%;
}
.guess_bottom>ul::after{
	width: 0;
	height: 0;
	content: "";
	display: block;
	clear: both;
}
.guess_bottom>ul>li{
	width: 237px;
	height: 340px;
	float: left;
	margin-bottom: 1px;
	margin-left: 1px;
	background:white;
}
.guess_bottom>ul>li>img{
	width: 200px;
	height: 200px;
	display: block;
	margin: 15px auto;
	transition: 0.3s;
}
.guess_bottom>ul>li>p:nth-child(2){
	width: 193px;
	height: 40px;
	margin: 0 auto;
	overflow: hidden;
	font-size: 12px;
	line-height: 18px;
}
.guess_bottom>ul>li .ascription{
	display: inline-block;
	background: url(../img/index.png);
	background-position: -561px -270px;
	width: 35px;
	margin: 0px 5px 0 0;
	float: left;
	height:18px;
}
.guess_bottom>ul>li>.price{
	font-size: 10px;
	color: #f60;
	margin-top: 5px;
	margin-left: 22px;
	font-weight: bold;
	height:18px ;
	position: relative;
}

.guess_bottom>ul>li>.price>span{
	font-size: 16px;
	font-weight: bold;
}
.guess_bottom>ul>li>.state{
	height: 16px;
	box-sizing: border-box;
	padding: 0 22px;
}
.rob{
	display:block;
	background: #f40;
	height: 16px;
	border-radius: 4px;
	font-size: 12px;
	color: white;
	text-align: center;
	line-height: 16px;
	float: left;
	padding: 0 2px;
	margin: 10px 2px 0 0;
}
.similar{
	width: 46px;
	height: 22px;
	font-size: 12px;
	color: #f60;
	text-align: center;
	line-height: 22px;
	border: 1px solid #f60;
	border-radius: 4px;
	position: absolute;
	right: 30px;
	box-sizing: border-box;
}
.end{
	width: 1190px;
	margin: 20px auto;
	}
.end_big{
	width: 253px;
	position: relative;
	margin:0 auto;
	left: 0;
	right: 0;
	}
.end_big::after{
	width: 0;
	height: 0;
	content: "";
	display: block;
	clear: both;
}
.end_big .left_line{
	width: 97px;
	height: 1px;
	background: #ccc;
	float: left;
	margin-top: 11.5px;
	margin-right:10px;
}
.end_big .right_line{
	width: 97px;
	height: 1px;
	background: #ccc;
	float: left;
	margin-top: 11.5px;
	margin-left: 10px;
}
.end_big .middle_text{
	font-size: 18px;
	color: #ccc;
	float: left;
}
/* 猜你喜欢结束 */
/* 主体结束 */
/* 服务开始 */
.ng_ser_box{
	width: 100%;
	height: 279px;
	background: #f5f5f5;
	border-top: 1px solid #e7e7e7;
}
.ng_ser_long{
	width: 1190px;
	height: 1005;
	margin: 0 auto;
}
.ng_ser_long_top{
	width: 100%;
	height: 98px;
	box-sizing: border-box;
	padding: 20px 0;
	border-bottom: 1px solid #e7e7e7;
}
.ng_ser_long_top>ul{
	width: 100%;
	height: 100%;
}
.ng_ser_long_top>ul>li{
	float: left;
	height: 100%;
	font-size: 12px;
	float: left;
}
.ng_ser_long_top>ul>li>img{
	width: 48px;
	height: 48px;
	display: block;
	float: left;
	margin: 0 5px;
}
.ng_ser_long_top>ul>li>.right{
	width: 170px;
	height:48px;
	float: left;
	margin-left: 5px;
}
.ng_ser_long_top>ul>li>.right>h6{
	font-weight: bold;
	margin-top: 5px;
}
.ng_ser_long_top>ul>li>.right>p{
	color: #545454;
	margin: 10px 0;
}
.ng_ser_long_bottom{
	width: 100%;
	height: 180px;
}
.ng_ser_long_bottom>dl{
	width: 210px;
	height: 100%;
	float: left;
}
.ng_ser_long_bottom>dl>dt{
	font-size: 14px;
	font-weight: bold;
	margin: 15px 0;
}
.ng_ser_long_bottom>dl>dd{
	font-size: 12px;
	color: #545454;
	margin: 5px 0;
}
.ng_ser_long_bottom>dl:last-child{
	width: 90px;
}
/* 服务结束 */
/* footer开始 */
.footer{
	width: 100%;
	height: 200px;
	background: white;
	overflow: hidden;
	box-sizing: border-box;
	padding:10px;
}
.footer>ul{
	width: 1190px;
	margin: 0 auto;
	height: 100%;
}
.footer>ul>li{
	width:100%;
	height:25px ;
	font-size: 12px;
	color: #666;
	text-align:center;
	line-height: 25px;
}
.footer>ul>li>span:nth-child(2n){
	margin: 0 10px;
}
.footer>ul>li>img{
	margin-right:10px;
}
/* footer结束 */
/* top开始 */
.sn_top{
	width: 70px;
	position: fixed;
	left: 3px;
	top: 50%;
	transform: translateY(-50%);
	display: none;
	box-sizing: border-box;
	border: 1px solid #D8D8D8;
	background: white;
}
.sn_top>ul{
	width: 100%;
	box-sizing: border-box;
	padding-top: 10px;
	position: relative;
	line-height: 30px;
	text-align:center;
	font-size: 12px;
}
.sn_top>ul>li{
	width:100%;
	height: 30px;
	border-bottom: 1px solid #D8D8D8;
	cursor: pointer;
}
.sn_top>ul>.top_box{
	height: 30px;
	color: #ff6700;
	font-weight:bold;
	font-size: 16px;
	cursor: pointer;
}
.sn_top>ul>li:hover{
	background: #ff6700;
	color: white;
}
.sn_active{
	background: #ff6700;
	color: white;
}
.sn_top>ul>.img{
	display: block;
	width: 45px;
	height: 37px;
	background: url(../img/index.png);
	background-position: -302px -80px;
	position: absolute;
	top: -30px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
/* top结束 */